language: python

services:
- docker

install:
- wget https://releases.hashicorp.com/terraform/"$TF_VERSION"/terraform_"$TF_VERSION"_linux_amd64.zip
- unzip terraform_"$TF_VERSION"_linux_amd64.zip
- sudo mv terraform /usr/local/bin/
- rm terraform_"$TF_VERSION"_linux_amd64.zip
- terraform init

before_install:
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

script:
- docker build --target test --tag todo-app:test .
- docker run --mount type=bind,source="$(pwd)"/todo_app,target=/app/todo_app todo-app:test  todo_app/tests/
- docker run --env GITHUB_REDIRECT_URI --env GITHUB_CLIENT_ID --env GITHUB_CLIENT_SECRET --env ROLEWRITER_USER --env MONGO_USERNAME --env MONGO_PASSWORD --env MONGO_DB --env MONGO_URL --env MONGO_OPTIONS --mount type=bind,source="$(pwd)"/todo_app,target=/app/todo_app todo-app:test  todo_app/tests_e2e/

before_deploy:
- docker build --target production --tag todo-app:prod .
- docker tag todo-app:prod "$DOCKER_USERNAME"/todo-app:latest
- terraform apply -var 'GITHUB_CLIENT_ID=$GITHUB_CLIENT_ID' -var 'GITHUB_CLIENT_SECRET=$GITHUB_CLIENT_SECRET' -var 'GITHUB_REDIRECT_URI=GITHUB_REDIRECT_URI' -var 'SECRET_KEY=$SECRET_KEY' -var 'ROLEWRITER_USER=$ROLEWRITER_USER' -var 'webapp=$webapp' -var 'cosmosdb_account=$cosmosdb_account' -var 'cosmosdb=$cosmosdb' -var 'ARM_ACCESS_KEY=$ARM_ACCESS_KEY' -auto-approve


deploy:
- provider: script   
  skip_cleanup: true 
  script: bash scripts/deploy.sh
  on:     
    branch: module12 