sudo: required
language: python
services:
- docker
before_install:
- scripts/travis.sh
# - docker build --target production --tag todo-app:latest .
# - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
# - docker push $DOCKER_USERNAME/trelloapp 
# - docker logout
# # - docker build --target test --tag todo-app:test .
# script:
#   - ./build/set_pass.sh
#   - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin && docker logout
# # - docker run --env TRELLO_KEY=[TRELLO_KEY] --env TRELLO_TOKEN=[TRELLO_TOKEN] --env TRELLO_BOARD_ID=[TRELLO_BOARD_ID] -d -p 127.0.0.1:5000:5000 todo-app:latest

# # - docker push "$DOCKER_USERNAME"/trelloapp
# - docker run --mount type=bind,source="$(pwd)"/todo_app,target=/app/todo_app todo-app:test  todo_app/tests/
# # # - docker run --env TRELLO_KEY=$TRELLO_KEY --env TRELLO_TOKEN=$TRELLO_TOKEN --mount type=bind,source="$(pwd)"/todo_app,target=/app/todo_app todo-app:test  todo_app/tests_e2e/
# # - docker build --target production --tag todo-app:latest .
# # $ docker push <image_tag> 