language: python

services:
- docker

before_install:
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
- curl https://toolbelt.heroku.com/install.sh | sh  
- echo "$HEROKU_API_KEY" | docker login -u "$HEROKU_USERNAME" --password-stdin registry.heroku.com

script:
- docker build --target test --tag todo-app:test .
- docker run --mount type=bind,source="$(pwd)"/todo_app,target=/app/todo_app todo-app:test  todo_app/tests/
- docker run --env TRELLO_KEY=$TRELLO_KEY --env TRELLO_TOKEN=$TRELLO_TOKEN --mount type=bind,source="$(pwd)"/todo_app,target=/app/todo_app todo-app:test  todo_app/tests_e2e/

before_deploy:
- docker build --target production --tag todo-app:prod .
- docker tag todo-app:prod "$DOCKER_USERNAME"/todo-app:latest
- docker tag todo-app:prod registry.heroku.com/$HEROKU_APP/web

deploy:
- provider: script 
  skip_cleanup: true 
  script:   
      docker push "$DOCKER_USERNAME"/todo-app;      
      docker push registry.heroku.com/$HEROKU_APP/web; 
      heroku container:release web --app $HEROKU_APP; 
  on:
    branch: master