{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-lg-12">     
      <h2>Items</h2>
      <br>
      <details>
        <summary>ToDo Items</summary>
      
      <ul class="list-group mb-6">
        <!-- List the todo items here -->
       
        {% for item in view_model.todoitems %}
        <li class="list-group-item">      
          {{item.title}} - {{item.status}} 
          {% if isWriter==True: %}
          <a href="{{url_for('delete_item', id=item.id)}}"><i class="fas fa-trash-alt"></i></a><a href="/{{ item.id }}" class="btn btn-success btn-sm m-1" role="button" aria-pressed="true">Done</a><a href="{{url_for('start_item', id=item.id)}}" class="btn btn-primary btn-sm m-1" role="button" aria-pressed="true">Start Item</a>
          {% endif%} 
        </li>       
        {% endfor %}
        
      </ul>
      </details>
      <br>
      <details>
        <summary>Doing Items</summary>
      <ul class="list-group mb-6">
        <!-- List the todo items here -->
        {% for item in view_model.doingitems %}
        <li class="list-group-item">       
          {{item.title}} - {{item.status}} 
          {% if isWriter==True: %}
          <a href="{{url_for('delete_item', id=item.id)}}"><i class="fas fa-trash-alt"></i></a><a href="/{{ item.id }}" class="btn btn-success btn-sm m-1" role="button" aria-pressed="true">Done</a>
          {% endif%}
        </li>   
        {% endfor %}
        
      </ul>
      </details>
      <br>      
        <p>Todays Completed Items</p>
      <ul class="list-group mb-6">        
        {%for item in view_model.recent_done_items %}        
        <li class="list-group-item">       
           {{item.title}} - {{item.status}} 
           {% if isWriter==True: %}
           <a href="{{url_for('delete_item', id=item.id)}}"><i class="fas fa-trash-alt"></i></a><a href="{{url_for('uncomplete_item', id=item.id)}}" class="btn btn-primary btn-sm m-1" role="button" aria-pressed="true">To Do</a>
           {% endif%}
        </li>       
        {% endfor %}
        
        {% set ftotal= {'total': view_model.show_all_done_items|length } %} 
        
        {%if ftotal.total >1 %}        
          <details open>
        {%else%}
          <details>
        {%endif%}
        <summary>Older Completed Items</summary>
        {%for item in view_model.older_done_items %}        
        <li class="list-group-item">       
           {{item.title}} - {{item.status}} 
           {% if isWriter==True: %}
           <a href="{{url_for('delete_item', id=item.id)}}"><i class="fas fa-trash-alt"></i></a><a href="{{url_for('uncomplete_item', id=item.id)}}" class="btn btn-primary btn-sm m-1" role="button" aria-pressed="true">To Do</a>
           {% endif%}
        </li>       
        {% endfor %}
        

      </ul>
      </details>
    </div>
    {% if isWriter==True: %}
    <form action="/" method="post">
      <br>
      <div class="form-group">
      <input type="text" name="title" class="form-control form-control-lg">
    </div>
      <input type="submit" value="Add Item" name="add_item" class="btn btn-primary">
    </form>
    {% endif%}
  </div>
</div>
{% endblock %}